@import 'bulma/sass/_index.scss';
@import 'variables';
@import 'fonts';
@import 'base';
@import 'navbar';
@import 'footer';

@media (prefers-color-scheme: dark) {
  :root {
    // Variables
    --font-poetsen-one: 'Poetsen One', sans-serif;
    --font-oswald: 'Oswald', sans-serif;

    // settings background color
    $background: $dark;
  }
}
